params {
    out_dir = "."
    base_aln = null 
    part_aln = "true_none"
    nthreads = 1
    prev_runs = "2_A_B"
}

profiles {
    local{ process.executor = 'local' }
    slurm {
        process.executor = 'slurm'
        process.cpus = params.nthreads
        process.memory = 8.GB
        process.clusterOptions = '--nodelist=dayhoff'
    }
}

report {
    enabled = true
    file = "report.html"
}
