params {

	out = "."
	
	// Input alignment
	aln = null
	aln_format = "fasta"

	// Resources (iqtree)
	nthreads = 1

	// Python/CLI
	run_name = null

	mode = null
	trees = null
	submodel = null	

}

profiles {

	local {
		process.executor = 'local'
	}

	slurm {
		process.executor = 'slurm'
		process.cpus = params.nthreads
		process.memory = 8.GB
		process.clusterOptions = '--nodelist=dayhoff'
	
	}
}

report {
	enabled = true
	file = "report.html"
}
