params {

	out = null
	
	// Input alignment
	aln = null
	aln_format = "fasta"

	// Resources (iqtree)
	nthreads = 1
	ncpus = 1

	// Debugging
	previous_model = null

}

profiles {

	standard {
		process.executor = 'local'
	}

	slurm {
		process.executor = 'slurm'
		process.cpus = params.nthreads
		process.memory = 8.GB
		process.clusterOptions = '--nodelist=dayhoff'
	
	}
}

report {
	enabled = true
	file = "report.html"
}
